Options +FollowSymLinks -Indexes
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/todo/
RewriteRule .? /todo/ [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
